@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=IBM+Plex+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
/* for adding scrollbar functionality without ugly appearance */
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
}
h3 {
  text-align: center;
  font-weight: 200;
  margin: 1rem;
  padding: 0.4rem;
}

.title > h2 {
  align-self: baseline;
  font-family: "IBM Plex Mono", monospace;
}

.title {
  text-align: center;
  background-color: #f5f0bb;
  border-radius: 1rem;
  width: 50%;
  margin: auto;
}
span {
  display: block;
  font-size: 3rem;
}
p {
  text-align: center;
  font-weight: 100;
  margin: 2rem;
}

hr {
  width: 80%;
  height: 0.085em;
  background-color: #6d8299;
}

/* buttons */
.button-container {
  width: fit-content;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
}

/* css to beautify the button on the app */
.button-container > button {
  margin-right: 1.5rem;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-container > button:after {
  content: "";
  background-color: #f9f9c5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-container > button:hover:after {
  top: 0px;
  left: 0px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.4rem;
}
.content-container {
  text-align: left;
  display: flex;
  margin: auto;

  border: "10px solid red";
  width: 70%;
  padding: 0.5;

  margin-bottom: 1rem;

  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content-container > * {
  margin-right: 1rem;
}
.movi-image {
  display: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

footer {
  text-align: center;
}
a > * {
  color: black;
  font-size: 1.3rem;
}
a:hover {
  transform: scale(150%);
  transition: all smooth;

  transition-duration: 500ms;
}

/* footer styles used from previous (is your birthday lucky ) project */
footer {
  margin-top: 5rem;
}
footer > h6 {
  font-size: 1rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
  align-items: baseline;
}

@media screen and (min-width: 0px) {
  .movi-image {
    display: inline;
  }
}
